.location{
  padding:50px 10rem;
  color: aliceblue;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.street h1{
  color:rgb(182, 135, 135);
}
h6{
  margin: 5px;
}


/*******Footer**************/
.gallery{
  display: flex;
  justify-content: space-around;
  /* padding:50px 10rem; */
  background-color:rgb(182, 135, 135);
}

