:root{
  --blackFont:rgb(1, 1, 1);
  --bigFontSize:45px;
  --smallFontSize:18px;
}

/*Second Section container*/

.containerSecondSection{
  margin:20px auto;
  padding:20px;
  display:flex;
  justify-content: space-between;
  width:80vw;
}
/*Article*/
.articleSecondSection{
  padding:10px;
  width:30%;
}
.headSecondSection{
  color: var(--blackFont);
  font-size: var(--bigFontSize);
}
.paragraphSecondSection{
  font-size: var(--smallFontSize);
}
/*image*/
.imageBox{
  padding:10px;
  width:60%;
}
.imgSecondSection{
  width:100%;
  height:100%;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
.mapBox{
  width: 100%;
  margin:20px 0;
}
.imgMap{
  width: 100%;
}